{ns hl7-org-nz-fhir-ig-nhi.value-set.nhi-contact-point-system-code-1.0,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "System values for a ContactPoint supported  by the NHI",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/contact-point-system",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/nhi-contact-point-system-code",
            :version "1.3.0",
            :ftr {:module "hl7-org-nz-fhir-ig-nhi",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
