{ns hl7-org-nz-fhir-ig-nhi.CreateNhiPatient,
 import #{zen.fhir hl7-org-nz-fhir-ig-nhi.NhiPatient},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-org-nz-fhir-ig-nhi.NhiPatient/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/CreateNhiPatient",
         :require #{:address
                    :name
                    :birthDate
                    :ethnicity
                    :nzCitizen
                    :gender},
         :type zen/map,
         :zen/desc "The information to be supplied when requesting that a new  Patient resource be created in the NHI.",
         :keys {:address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:line {:type zen/vector,
                                                :maxItems 2}},
                                  :require #{:use}},
                          :minItems 1,
                          :maxItems 1},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:information-source {:type zen/map,
                                                           :keys {:value {:fhir/polymorphic true,
                                                                          :type zen/map,
                                                                          :require #{:CodeableConcept}}},
                                                           :require #{:value}},
                                      :prefix {:type zen/vector,
                                               :maxItems 1}},
                               :require #{:information-source}},
                       :minItems 1,
                       :maxItems 1},
                :_birthDate {:type zen/map,
                             :keys {:information-source {:type zen/map,
                                                         :keys {:value {:fhir/polymorphic true,
                                                                        :type zen/map,
                                                                        :require #{:CodeableConcept}}},
                                                         :require #{:value}}},
                             :require #{:information-source}},
                :deceased {:type zen/map,
                           :keys {:information-source {:type zen/map,
                                                       :keys {:value {:fhir/polymorphic true,
                                                                      :type zen/map,
                                                                      :require #{:CodeableConcept}}},
                                                       :require #{:value}}},
                           :require #{:information-source}},
                :birthPlace {:type zen/map,
                             :keys {:source {:type zen/map,
                                             :keys {:value {:fhir/polymorphic true,
                                                            :type zen/map}},
                                             :require #{:value}}},
                             :require #{:source :country}},
                :nzCitizen {:type zen/map,
                            :keys {:status {:type zen/map,
                                            :keys {:value {:fhir/polymorphic true,
                                                           :type zen/map,
                                                           :require #{:CodeableConcept}}},
                                            :require #{:value}},
                                   :source {:type zen/map,
                                            :keys {:value {:fhir/polymorphic true,
                                                           :type zen/map,
                                                           :require #{:CodeableConcept}}},
                                            :require #{:value}}},
                            :require #{:source :status}},
                :telecom {:type zen/vector, :maxItems 0},
                :generalPractitioner {:type zen/vector,
                                      :every {:confirms #{zen.fhir/Reference},
                                              :zen.fhir/reference {:refers #{}}},
                                      :maxItems 0}},
         :zen.fhir/type "Patient"}}
