{ns hl7-org-nz-fhir-ig-nhi.gender-original-text,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The uncoded original text that was provided by the patient as their Gender",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/gender-original-text",
         :zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
