{ns hl7-org-nz-fhir-ig-nhi.nhi-address-derived,
 import #{hl7-fhir-r4-core.decimal zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Address elements that are directly derived from the address validation service",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nhi-address-derived",
         :zen.fhir/version "0.6.32",
         :type zen/map,
         :keys {:depQuintile {:confirms #{hl7-fhir-r4-core.decimal/schema},
                              :zen/desc "The deprivation quintile"},
                :meshBlock {:confirms #{hl7-fhir-r4-core.decimal/schema},
                            :zen/desc "The meshblock for this address"}}}}
