{ns hl7-org-nz-fhir-ig-nhi.NhiAddress,
 import #{zen.fhir
          hl7-org-nz-fhir-ig-nhi.address-id
          hl7-org-nz-fhir-ig-nhi.not-validated-address-reason
          fhir-org-nz-ig-base.NzAddress
          hl7-org-nz-fhir-ig-nhi.nhi-address-derived},
 schema {:zen.fhir/version "0.6.30",
         :confirms #{fhir-org-nz-ig-base.NzAddress/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/NhiAddress",
         :require #{:type},
         :type zen/map,
         :zen/desc "Adds additional, NHI specific extensions",
         :keys {:notValidatedAddressReason {:confirms #{hl7-org-nz-fhir-ig-nhi.not-validated-address-reason/schema},
                                            :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/not-validated-address-reason",
                                            :zen/desc "The reason an address was not validated"},
                :type {:zen/desc "postal | physical"},
                :nz-address-id {:confirms #{hl7-org-nz-fhir-ig-nhi.address-id/schema},
                                :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nz-address-id"},
                :nz-address-derived {:confirms #{hl7-org-nz-fhir-ig-nhi.nhi-address-derived/schema},
                                     :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nhi-address-derived"}},
         :zen.fhir/type "Address"}}
