{ns hl7-org-nz-fhir-ig-nhi.NhiPatient,
 import #{fhir-org-nz-ig-base.NzPatient
          hl7-org-nz-fhir-ig-nhi.value-set.nhi-contact-point-system-code-1.0
          zen.fhir
          hl7-fhir-r4-core.iso21090-preferred
          hl7-org-nz-fhir-ig-nhi.NhiAddress
          hl7-fhir-r4-core.PractitionerRole
          fhir-org-nz-ig-base.information-source
          hl7-org-nz-fhir-ig-nhi.gender-original-text
          hl7-org-nz-fhir-ig-nhi.name-use-extra
          fhir-org-nz-ig-base.nz-residency
          hl7-org-nz-fhir-ig-nhi.value-set.nhi-address-type
          hl7-org-nz-fhir-ig-nhi.birth-place},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "The Patient resource exposed by the NHI.",
         :zen.fhir/type "Patient",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/NhiPatient",
         :zen.fhir/version "0.6.25-1",
         :confirms #{zen.fhir/Resource
                     fhir-org-nz-ig-base.NzPatient/schema},
         :type zen/map,
         :keys {:address {:type zen/vector,
                          :every {:confirms #{hl7-org-nz-fhir-ig-nhi.NhiAddress/schema},
                                  :type zen/map,
                                  :keys {:line {:type zen/vector,
                                                :minItems 1}},
                                  :require #{:line}}},
                :managingOrganization {:confirms #{zen.fhir/Reference},
                                       :zen.fhir/reference {:refers #{}}},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:suffix {:type zen/vector,
                                               :maxItems 0},
                                      :given {:type zen/vector,
                                              :every {:zen/desc "Given name and other given name(s)"},
                                              :maxItems 2},
                                      :information-source {:confirms #{fhir-org-nz-ig-base.information-source/schema},
                                                           :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/information-source"},
                                      :preferred {:confirms #{hl7-fhir-r4-core.iso21090-preferred/schema},
                                                  :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/iso21090-preferred"},
                                      :nhi-name-use-extra {:confirms #{hl7-org-nz-fhir-ig-nhi.name-use-extra/schema},
                                                           :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/name-use-extra"}},
                               :require #{:preferred}}},
                :_gender {:type zen/map,
                          :keys {:originalText {:confirms #{hl7-org-nz-fhir-ig-nhi.gender-original-text/schema},
                                                :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/gender-original-text"}}},
                :ethnicity {:type zen/vector, :maxItems 6},
                :_birthDate {:type zen/map,
                             :keys {:information-source {:confirms #{fhir-org-nz-ig-base.information-source/schema},
                                                         :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/information-source"}}},
                :multipleBirth {:fhir/polymorphic true, :type zen/map},
                :deceased {:fhir/polymorphic true, :type zen/map},
                :nzResidency {:confirms #{fhir-org-nz-ig-base.nz-residency/schema},
                              :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nz-residency"},
                :photo {:type zen/vector, :maxItems 0},
                :link {:type zen/vector, :maxItems 0},
                :communication {:type zen/vector, :maxItems 0},
                :identifier {:type zen/vector, :slicing {:slices {}}},
                :birthPlace {:confirms #{hl7-org-nz-fhir-ig-nhi.birth-place/schema},
                             :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/birth-place"},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:zen.fhir/value-set {:symbol hl7-org-nz-fhir-ig-nhi.value-set.nhi-contact-point-system-code-1.0/value-set,
                                                                       :strength :required},
                                                  :zen/desc "phone | email"},
                                         :use {:zen.fhir/value-set {:symbol hl7-org-nz-fhir-ig-nhi.value-set.nhi-address-type/value-set,
                                                                    :strength :required},
                                               :zen/desc "home | mobile"}},
                                  :zen/desc "The Paient's contact details"},
                          :maxItems 3},
                :generalPractitioner {:type zen/vector,
                                      :every {:confirms #{zen.fhir/Reference},
                                              :zen.fhir/reference {:refers #{hl7-fhir-r4-core.PractitionerRole/schema}},
                                              :zen/desc "Reference for the Patient's enrolled general Practitioner"},
                                      :maxItems 1},
                :contact {:type zen/vector, :maxItems 0}}}}
