{ns hl7-org-nz-fhir-ig-nhi.not-validated-address-reason,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The reason why the address has not been validated",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/not-validated-address-reason",
         :zen.fhir/version "0.6.17-4",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
