{ns hl7-org-nz-fhir-ig-nhi.PatientModel,
 import #{fhir-org-nz-ig-base.value-set.ethnicity
          hl7-fhir-r4-core.BackboneElement
          zen.fhir
          hl7-fhir-r4-core.string
          hl7-fhir-r4-core.value-set.administrative-gender
          hl7-fhir-r4-core.date
          hl7-fhir-r4-core.HumanName
          hl7-fhir-r4-core.Element
          hl7-fhir-r4-core.CodeableConcept
          hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.Element/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/ig/nhi/StructureDefinition/PatientModel",
         :require #{:nhi},
         :type zen/map,
         :zen/desc "Representing a person receiving healthcare",
         :keys {:deathDate {:confirms #{hl7-fhir-r4-core.date/schema},
                            :zen/desc "Date of Death"},
                :_citizenship {:confirms #{hl7-fhir-r4-core.Element/schema},
                               :type zen/map,
                               :keys {:source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                               :zen/desc "The source of the citizenship status"}}},
                :name {:confirms #{hl7-fhir-r4-core.HumanName/schema},
                       :type zen/map,
                       :keys {:source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                       :zen/desc "The source of the name"}},
                       :zen/desc "Name of the practitioner"},
                :_gender {:confirms #{hl7-fhir-r4-core.Element/schema},
                          :type zen/map,
                          :keys {:originalText {:confirms #{hl7-fhir-r4-core.string/schema},
                                                :zen/desc "The text from which the gender was derived"},
                                 :_originalText {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
                :birthDate {:confirms #{hl7-fhir-r4-core.date/schema},
                            :zen/desc "Date of Birth"},
                :nhi {:confirms #{hl7-fhir-r4-core.Identifier/schema},
                      :zen/desc "National Health Identifier"},
                :residency {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                            :type zen/map,
                            :keys {:source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                            :zen/desc "The source of the residency status"}},
                            :zen/desc "residency status"},
                :ethnicity {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                    :zen.fhir/value-set {:symbol fhir-org-nz-ig-base.value-set.ethnicity/value-set,
                                                         :strength :required},
                                    :zen/desc "Ethnicity of the provider"},
                            :maxItems 6},
                :_birthDate {:confirms #{hl7-fhir-r4-core.Element/schema},
                             :type zen/map,
                             :keys {:source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                             :zen/desc "The source of the Date of Birth"}}},
                :citizenship {:confirms #{hl7-fhir-r4-core.string/schema},
                              :zen/desc "NZ Citizenship status"},
                :birthPlace {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
                             :type zen/map,
                             :keys {:country {:confirms #{hl7-fhir-r4-core.string/schema},
                                              :zen/desc "Country of Birth"},
                                    :_country {:confirms #{hl7-fhir-r4-core.Element/schema}},
                                    :place {:confirms #{hl7-fhir-r4-core.string/schema},
                                            :zen/desc "Area within country"},
                                    :_place {:confirms #{hl7-fhir-r4-core.Element/schema}},
                                    :source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                             :zen/desc "The source of the Birth Place"}},
                             :zen/desc "Place of Birth"},
                :gender {:confirms #{hl7-fhir-r4-core.string/schema},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.administrative-gender/value-set,
                                              :strength :required},
                         :zen/desc "The patients administrative gender"},
                :_deathDate {:confirms #{hl7-fhir-r4-core.Element/schema},
                             :type zen/map,
                             :keys {:source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                                             :zen/desc "The source of the Date of Death"}}}},
         :zen.fhir/type "http://hl7.org.nz/fhir/ig/nhi/StructureDefinition/PatientModel"}}
