{ns hl7-org-nz-fhir-ig-nhi,
 import #{zen.fhir hl7-fhir-r4-core fhir-org-nz-ig-base},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org.nz/fhir/StructureDefinition/birth-place" #zen/quote hl7-org-nz-fhir-ig-nhi.birth-place/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nz-address-id" #zen/quote hl7-org-nz-fhir-ig-nhi.address-id/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/gender-original-text" #zen/quote hl7-org-nz-fhir-ig-nhi.gender-original-text/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/not-validated-address-reason" #zen/quote hl7-org-nz-fhir-ig-nhi.not-validated-address-reason/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nhi-address-derived" #zen/quote hl7-org-nz-fhir-ig-nhi.nhi-address-derived/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/name-use-extra" #zen/quote hl7-org-nz-fhir-ig-nhi.name-use-extra/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"Patient" {"http://hl7.org.nz/fhir/StructureDefinition/CreateNhiPatient" #zen/quote hl7-org-nz-fhir-ig-nhi.CreateNhiPatient/schema,
                                "http://hl7.org.nz/fhir/StructureDefinition/NhiPatient" #zen/quote hl7-org-nz-fhir-ig-nhi.NhiPatient/schema}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"http://hl7.org.nz/fhir/ig/nhi/StructureDefinition/PatientModel" #zen/quote hl7-org-nz-fhir-ig-nhi.PatientModel/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/NhiAddress" #zen/quote hl7-org-nz-fhir-ig-nhi.NhiAddress/schema}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"https://nzhts.digital.health.nz/fhir/ValueSet/nhiContactUseType" #zen/quote hl7-org-nz-fhir-ig-nhi.value-set.nhi-contactpoint-use/value-set,
                          "https://nzhts.digital.health.nz/fhir/ValueSet/nhi-contact-point-system-code" #zen/quote hl7-org-nz-fhir-ig-nhi.value-set.nhi-contact-point-system-code-1.0/value-set}}}
