{ns hl7-org-nz-fhir-ig-nhi.value-set.nhi-address-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Types of contact use supported  by the NHI",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/contact-point-use",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/nhiContactUseType",
            :version "1.2.0",
            :ftr {:module "hl7-org-nz-fhir-ig-nhi",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
